@import url('https://fonts.googleapis.com/css2?family=Carattere&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Sevillana&display=swap');
@import '../components/Button/Button.module.scss';
@import '../components/Navigation/Nav.module.scss';
@import './colors.scss';

body,
a {
  margin: 0;
  font-family: Montserrat;
  color: #0a1a10;
  overflow: hidden;
}
