@import '../../styles/colors.scss';

.toDo {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 140px;

  .list-block {
    margin-top: 100px;
    width: clamp(345px, 22.5vw, 400px);

    .list-head {
      display: flex;
      justify-content: space-around;
      align-items: center;
      border: 1px $button solid;
      background-color: $lightColor;
      border-radius: 8px;
      box-shadow: 11px 12px 12px 1px rgba(34, 60, 80, 0.19);

      width: clamp(345px, 22.5vw, 400px);
      height: clamp(90px, 5vw, 110px);

      .arrow {
        width: 45px;
      }
      img {
        width: 45px;
        height: 45px;
      }
    }
    .row {
      margin-top: 15px;
      display: flex;
      justify-content: center;
      input {
        height: 30px;
        width: 200px;
        border-radius: 8px;

        &:active {
          opacity: 0.5;
        }
      }
      button {
        width: 60px;
        margin-left: 5px;
        background-color: $lightColor;
        border: 0.2px solid black;
        border-radius: 8px;

        &:hover {
          opacity: 0.5;
        }
      }
    }
  }

  ul {
    margin-top: 20px;
    background-color: #f8f4f4;
    border-radius: 8px;

    li {
      list-style: none;
      margin-top: 10px;
      display: flex;
      justify-content: space-between;

      img {
        width: 20px;
        margin-right: 10px;
        cursor: pointer;
      }
      /* прячем input checkbox */
      input[type='checkbox'] {
        display: none;
      }

      /* стили для метки */
      label {
        width: 70%;
        cursor: default;
        margin-left: 10px;
        line-height: 30px;
        vertical-align: middle;
      }

      /* формируем внешний вид чекбокса  */
      label:before {
        content: ' ';
        display: inline-block;
        margin-right: 15px;
        position: relative;
        text-align: center;
        width: 35px;
        height: 30px;

        background: $lightColor;
        border: 1px solid black;
        border-radius: 8px;
        vertical-align: middle;
      }

      /* вариации внешнего вида в зав-ти от статуса checkbox */
      input:checked + label:before {
        content: '\2713';
        font-size: 25px;
      }
    }
  }
  .filters {
    margin-top: 20px;

    .dropbtn {
      background-color: $lightColor;
      padding: 10px 16px;
      font-size: 16px;
      border: none;
      cursor: pointer;
      border-radius: 5px;
    }
    .dropdown {
      position: relative;
      display: inline-block;
    }

    .dropdown-content {
      display: none;
      position: absolute;
      background-color: #f9f9f9;
      min-width: 160px;
      box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
      z-index: 1;

      a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;

        &:hover {
          background-color: #f1f1f1;
        }
      }
    }

    .dropdown:hover .dropdown-content {
      display: block;
    }

    .dropdown:hover .dropbtn {
      color: white;
      background-color: $textColor;
    }

    .completed-task {
      display: inline-block;
      margin-left: 100px;
    }

    .remaining-task {
      display: inline-block;
      margin-left: 80px;
    }
  }
}
